<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type=text/css href="static/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Make something</title>
    {% endblock %}
</head>
<body>
    <div class="page">
        <h1>Makers</h1>
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>
