{% extends "_base.html" %}
{% block content %}
    <h2>This is a tool to help you make the most efficient rune pages for your champion pool.</h2>

    <form action="{{ url_for('get_rune_pages') }}" method="post">
        <dl>
            <dt>What champions do you play?
            <dd><input type="text" name="champNames">
            <dt>How many runepages do you have?
            <dd><input type="text" name="numPages">
            <dd><input type="submit" value="Submit">
        </dl>
    </form>
{% endblock %}